node_modules
.gitignore
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

dist
*.js
static/index.html
static/*.js
static/*.txt